<!--
  Generated template for the SqlitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LIVRES</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-img">


  <p>Ajoutez vos Romans favoris</p>
  <ion-list>
    <ion-item>
      <ion-label fixed>Nom du livre</ion-label>
      <ion-input type="text" [(ngModel)]="titleRoman"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Type de livre</ion-label>
      <ion-input type="text" [(ngModel)]="titleLivre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Note lecteur</ion-label>
      <ion-input type="number" [(ngModel)]="ratingRoman"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label fixed>Résumé de votre ouvrage</ion-label>
      <ion-input type="text" [(ngModel)]="descriptionRomans"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button clear (tap)="saveMyRoman()">Enregistrez mes livres</button>

  <ion-list *ngIf="romans">
    <ion-item *ngFor="let roman of romans">
      <ion-label fixed>{{ roman }}</ion-label>
    </ion-item>
  </ion-list>

  <button ion-button clear (tap)="retrieveRoman()">Livres enregistrés</button>
  <div style="position:absolute; bottom:120px; text-align:center; z-index:1000; width:100%">
    <button ion-button color="light" round outline [navPush]="nextPage">NEXT</button>
  </div>

</ion-content>
