page-sqlite {
    
    .bg-img{
        background-image: url("../assets/imgs/c.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
            }

}
